#carousel-container {
    position: relative;
    width: 300px; /* Ajustez la largeur selon vos besoins */
    margin: auto;
  }

  #carousel-image {
    width: 100%;
    height: auto;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
  }

  #left-arrow {
    left: 10px;
  }

  #right-arrow {
    right: 10px;
  }