@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    padding: 0;
    margin: 0;
}

.content-title{
    text-align: center;
}

.main{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Style du formulaire */
.container-form #register-form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-form #register-form div label{
    padding:10px 0;
}

.container-form #register-form div input[type='text']{
    padding: 8px 10px;
    border: #9b9b9b solid 1px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.container-form #register-form div input[type='submit']{
    cursor: pointer;
    color: #0a53be;
    border: #0a53be solid 1px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 1rem;
    transition: all ease-in-out 0.15s;
}
.container-form #register-form div input[type='submit']:hover{
    background-color: #0a53be;
    color: #fff;
}

/*div de message d'alerte*/
.alert{
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    font-weight: bold;
}
/*Message de succès*/
.alert-success{
    background-color: #add7b4;
    border: rgba(15, 81, 50, 0.46) solid 1px;
    color: #0a3822;
}

/*div d'erreur*/
.container-form #register-form div input.field-invalid{
    border: rgb(178, 5, 5) solid 1px;
}

.container-form #register-form div input.field-invalid:focus{
    outline: rgba(178, 5, 5, 0.49) solid 1px;
    box-shadow: 0 0 0 .25rem rgba(185, 34, 34, 0.42);

}

/*text d'erreur*/
.error-text{
    color: #a80303;
}

/*Responsive*/
@media screen and (min-width: 800px){
    .main{
        width: 75%;
        margin: auto;
    }
}
@media screen and (min-width: 1000px){
    .main{
        width: 50%;
    }
}